body, html {
  margin: 0;
  background-color: azure;
}

header {
  background-color: rgb(26,26,27);
  width:100%;
}

.header-section {
  height: 45px;
  // width: 100%;
}

.flex {
  display: flex;
}

.flex-h {
  flex-direction: row;
}

.flex-v {
  flex-direction: column;
}

.fa-reddit {
  padding-left: 20px;
  padding-top: 6px;
  color: rgb(255,69,0);
  font-size: 36px;
}

span {
  font-size: 22px;
  padding-left: 5px;
  color: white;
  font-family: 'Questrial', sans-serif;
  /* font-weight: 500; */
}

.dropdown {
  margin-left: 30px;
  padding-top: 5px;
}

.dropdown .fa-caret-down {
  padding-left: 115px;
  color: black;
}

.fa-chart-line, .fa-chart-bar, .fa-street-view {
  padding-right: 10px;
  color: rgb(0,121,211);
  font-size: 20px;
}

.fa-copyright {
  padding-right: 10px;
  color: rgb(221,189,55);
  font-size: 20px;
}

.fa-shield-alt {
  padding-right: 10px;
  color: rgb(255,69,0);
  font-size: 20px;
}

a {
  font-size: 16px;
}


.filter {
  margin-left: 15px;
  width: 200px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.fa-search {
  // margin-left: 20px;
  margin-left: 5px;
  background-color: rgb(39,39,41);
  color: rgb(129,131,132);
  width: 40px;
  height: 34px;
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  padding-top: 8px;
  padding-left: 8px;
  border: 1px solid gray;
}

.search {
  background-color: rgb(39,39,41);
  width: 30%;
  height: 34px;
  margin-top: 5px;
  border: 1px solid gray;
}

.icons {
  // margin-left: 20px;
  font-size: 18px;
  margin-top: 12px;
}

.icons .fa-chart-line, .icons .fa-chart-bar, .icons .fa-street-view {
  color: rgb(215,218,220);
  margin-left: 5px;
}

.vdiv {
  padding-top: 8px;
  color: rgb(52,53,54);
}

.user-action {
  margin-left: 10px;
  margin-top: 10px;
}

.loginBtn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px 25px 0px 25px;
  color: rgb(215,218,220);
}

.signupBtn {
  background-color: rgb(215,218,220);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px 25px 0px 25px;
  color: rgb(26,26,27);
  // margin-left: 10px;
  margin-left: 5px;
}


.old-reddit {
  // margin-left: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.fa-external-link-alt {
  color: rgb(215,218,220);
}

.oldReddit {
  background-color: transparent;
  font-size: 12px;
  color: rgb(215,218,220);
  border: none;
}

.user-options {
  background-color: transparent;
  // margin-left: 10px;
  margin-left: 5px;
  margin-top: 5px;
  border: none;
}

.fa-user {
  color: rgb(215,218,220);
  // margin-right: 15px;
  margin-right: 10px;
}

.fa-caret-down {
  color: rgb(215,218,220);
}

.view-section {
  height: 42px;
  background-color: rgb(26,26,27);
  width: 100%;
  border-top: 1px solid rgb(52,53,54);
}

.userName { 
  font-weight: bold;
  color: azure;
  margin-top: 5px;
  margin-left: 50px;
  font-size: 20px;
}

.dropdown-item {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
}

// ************************************************** //
// ************************************************** //

.view-container {
  width: 55%;
  margin: auto;
  margin-top: 8px;
}

.view {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 6px;
  color: rgb(120,122,123);
}

.view-icons {
  margin-top: 0;
  font-size: 18px;
  margin-left: 10px;
  color: rgb(215,218,220);
}

.view-icons .fa-bars, .view-icons .fa-align-justify {
  color: rgb(64,65,66);
}

.view-vdiv {
  margin-left: 10px;
  margin-top: -3px;
  color: rgb(63, 65, 66);
}

.sort {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 10px;
  color: rgb(120,122,123);
}

.hot {
  border: none;
  background-color: transparent;
  margin-top: 0px;
  margin-left: 15px;
}

.hot .fa-fire {
  color: rgb(215,218,220);
}

.hot .fa-caret-down {
  margin-left: 15px;
  color: rgb(215,218,220);
}

.hotLabel {
  text-transform: uppercase;
  font-size: 12px;
}

.country {
  border: none;
  background-color: transparent;
  margin-top: 0px;
  margin-left: 10px;
}

.country .fa-caret-down {
  margin-left: 15px;
  color: rgb(215,218,220);
}

.countryLabel {
  text-transform: uppercase;
  font-size: 12px;
}

// ************************************************** //
// ************************************************** //

.container {
  width: 55%;
  margin: auto;
  margin-top: 20px;
  padding: 0;
}

.main {
  width: 75%;
  margin-right: 20px;
}

.bg {
  margin-left: 40px;
  height: 100%;
  background-color: rgb(26,26,27);
}

.circular {
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.circularCommunities {
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  width:20px;
}

.userInfo {
  color: white;
  font-size: 14px;
  padding-top: 10px;
}
.content {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}
.content a {
  font-size: 12px;
}

.boxes {
  background: rgb(22,22,23);
  float:left;
  width:100%;
  overflow-y: auto;
  // height: 620px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(52,53,54);
}

.halloImage {
  width: 300px;
  height: 200px;
  margin: auto;
}

video {
  width: 400px;
  height: 500px;
  margin: auto;
}


.stories {
  margin-right: -180px;
  margin-top: -12px;
}

.heart-icon {
  color: white;
}

/* * * * * * * * * * * * *
one-box-container
* * * * * * * * * * * */


.aside {
 /* background: black; */
 width: 30%;
 margin-left: -40px;
 height: 100%;
 display: flex;
 flex-direction: column;
 float: right;
}

.fifth-box {
  background: rgb(26,26,27);
  width:100%;
  // height: 300px;
  border-radius: 5px;
}

.summaryHeading {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}
.summaryContent {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.summaryBanner {
  width:100%;
  height: 40px;
}

.summaryImg {
  width: 15%;
  height: 70px;
}

.postBtn {
  width: 90%;
  height: 28px;
  margin-top: 5px;
  margin-left: 14px;
  border-radius: 5px;
  color: rgb(215,218,220);
  margin-bottom: 10px;
}

.sixth-box {
  background: rgb(26,26,27);
  width:100%;
  margin-top: 10px;
  border-radius: 5px;
}
.adHeading {
  color: white;
  padding: 5px 0 0 5px;
}

.seventh-box {
  background: rgb(26,26,27);
  margin-top: 10px;
  border-radius: 5px;
}

.trendingHeading {
  font-size: 12px;
  font-weight: 600;
  margin: 7px 7px 7px 7px;
  color: gray;
}

.communityContainer {
  margin-top: 20px;
}

.info {
  font-size: 12px;
  width: 280px;
  color: white;
}

.subscribeBtn {
  margin: 7px 7px 7px 7px;
  border-radius: 5px;
}

@media screen and (max-width: 1850px) {
  .container {
    /* border: 2px solid white; */
    width: 55%;
    margin: auto;
    margin-top: 20px;
    // padding: 0;
  }
  .main {
    width: 70%;
    // margin: auto;
  }
  .aside {
    width: 30%;
    margin-left: -100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: right;
   }
}

@media screen and (max-width: 1749px) {
  .container {
    width: 60%;
  }
  .main {
    width: 70%;
  }
  .aside {
    width: 30%;
    margin-left: -100px;
   }
}

@media screen and (max-width: 1649px) {
  .container {
    width: 60%;
  }
  .main {
    width: 70%;
  }
  .aside {
    width: 30%;
    margin-left: -70px;
   }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 60%;
  }
  .main {
    width: 70%;
  }
  .aside {
    width: 30%;
    margin-left: -60px;
   }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 60%;
  }
  .main {
    width: 100%;
  }
  .aside {
    visibility: hidden;
   }
  // .header-section {
  //   visibility: hidden;
  // }
  .old-reddit {
    visibility: hidden;
  }
  .view-container {
    width: 60%;
    margin: auto;
    margin-top: 8px;
  }
}

@media screen and (max-width: 800px) {
  html, body {
    overflow-y: auto;
  }

  .container { 
    width: 100%;
    
    // margin: auto;
  }
  .main {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .container { 
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .stories {
    margin-right: -145px;
    margin-top: -12px;
  }
  .view-container {
    width: 100%;
    margin: auto;
    margin-top: 8px;
  }
}

@media screen and (max-width: 650px) {
  .container { 
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .stories {
    margin-right: -135px;
    margin-top: -12px;
  }
}

@media screen and (max-width: 600px) {
  .container { 
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .stories {
    margin-right: -110px;
    margin-top: -12px;
  }
}


@media screen and (max-width: 550px) {
  .container { 
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .stories {
    margin-right: -100px;
    margin-top: -12px;
  }
}

@media screen and (max-width: 500px) {
  .container { 
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .stories {
    margin-right: -85px;
    margin-top: -12px;
  }
}

@media screen and (max-width: 459px) {
  .container { 
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .stories {
    margin-right: -60px;
    margin-top: -12px;
  }
  .bg {
    margin-left: 0px;
    height: 100%;
    background-color: rgb(26,26,27);
  }
  .content {
    margin-right: 10px;
  }
}



